* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #fdeeae;
    min-height: 100%;
    font-family: 'Istok Web', sans-serif;
}
header {
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    width: 100%;
    background: #0d1625;
    background: -moz-linear-gradient(top, rgba(28, 49, 79, 1) 0, rgba(13, 22, 37, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(28, 49, 79, 1)), color-stop(100%, rgba(13, 22, 37, 1)));
    background: -ms-linear-gradient(top, rgba(28, 49, 79, 1) 0, rgba(13, 22, 37, 1) 100%);
    box-shadow: 0 0 4px #000;
    -webkit-box-shadow: 0 0 4px #000;
    position: fixed;
    display: block;
    clear: both;
}
	header h1 {
		cursor: pointer;
		color: #e44d26;
		margin-left: 3%;
		text-shadow: 0 -1px 1px #000;
		width: 30%}
	.notestitle {
		color: #05bc27;
	}
	header a, section a {
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		font-family: 'Gloria Hallelujah', cursive;
		text-align: center;
		-webkit-box-shadow: 0 0 4px #000;
		box-shadow: 0 0 4px #000;
		-webkit-border-radius: 100px;
		border-radius: 100px;
		background: #e44d26;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		border-width: 2px;
		color: white;
		margin-right: 2%;
		float: right;
	}
		header a:hover, section a:hover {
			-webkit-box-shadow: 0 0 4px #000, inset 0 0 8px #000;
			box-shadow: 0 0 4px #000, inset 0 0 4px #000;
		}
	header a {
		line-height: 30px;
		margin-top: -38px;
		height: 30px;
		width: 90px;
	}
section {
    min-height: 100%;
    width: 100%;
    display: block;
    padding-top: 70px;
    padding-bottom: 30px;
}
	section:before {
		content: "";
		height: 100%;
		left: 2%;
		position: fixed;
		top: 0;
		width: 5px;
		z-index: -1;
		border-style: solid;
		border-color: #e44d26;
		border-width: 1px;
		border-top: none;
		border-bottom: none;
	}
	section ul {
		list-style: none;
	}
	section li {
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #c9da72;
		min-height: 70px;
		padding-left: 3%;
		line-height: 70px;
	}
	section h2 {
		color: #e44d26;
		font-family: 'Gloria Hallelujah', cursive;
	}
	section ul h2 {
		float: left;
		max-width: 60%;
		overflow: hidden;
	}
	section a {
		overflow: hidden;
		opacity: 0;
		margin-top: 10.5px;
		line-height: 45px;
		height: 45px;
		width: 15%;
		text-align: center;
	}
	section ul li:hover a {
		opacity: 1;
	}
	section ul h1 {
		text-align: center;
		color: #e44d26;
	}
	time {
		color: #05bc27;
		font-size: 10px;
		line-height: 12px;
		font-style: italic;
	}
	section ul time {
		margin-left: 10px;
	}
	section div {
		margin-top: 10px;
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-bottom-color: #c9da72;
		padding-bottom: 10px;
		padding-left: 3%}
	section div a {
		opacity: 1;
		float: none;
		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
	section div h2 {
		margin-top: 25px;
	}
	section div p {
		margin-top: 10px;
		margin-bottom: 30px;
	}
.noteviewer {
    display: none;
}
	#notesection {
		border: none;
	}
	#newnote {
		position: absolute;
		left: 50%;
		width: 50%;
		top: 100px;
		min-height: 250px;
		margin-left: -25%;
		text-align: center;
		background-color: #4D4D4D;
		display: none;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 20px;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
		box-shadow: 0 0 4px rgba(0,0,0,0.3);
	}
	#closenewnote {
		position: absolute;
		top: 25px;
		right: 10px;
		background-color: #e44d26;
		border-color: white;
		border-style: solid;
		border-width: 2px;
		padding-left: 15px;
		padding-right: 15px;
		color: white;
		text-decoration: none;
		-webkit-box-shadow: 0 0 4px #000;
		box-shadow: 0 0 4px #000;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	#newnote h2, #newnote p {
		font-family: 'Gloria Hallelujah', cursive;
		color: #e44d26;
		text-shadow: 0 -1px 1px #000;
	}
input, textarea {
    background-color: #f9fbf2;
    padding: 10px;
    outline: none;
    margin: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 70%;
    color: #e34c26;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
	input:focus, input:active, textarea:focus {
		border-color: #e34c26;
	}
	input[type=submit] {
		width: 40%;
		background-color: #e34c26;
		color: white;
	}
	textarea {
		width: 80%;
		height: 140px;
	}
footer {
    display: block;
    position: fixed;
    bottom: 2px;
    left: 3%;
    width: 95%;
}
	footer a {
		color: #e44d26;
	}
	#deleteall {
		float: right;
	}
@media all and (min-width :320px) and (max-width :480px), all and (-webkit-min-device-pixel-ratio :1.5), all and (min-device-pixel-ratio :1.5) {
	header h1 {
		margin-left: 0;
	}
	header a {
		-webkit-border-radius: 0;
		border-radius: 0;
		height: 64px;
		margin-right: 0;
		margin-top: -64px;
		line-height: 80px;
		-webkit-box-shadow: 0 0 0 #000;
		box-shadow: 0 0 0 #000;
		border: none;
	}
	input, textarea {
		width: 90%;
		display: inline;
		height: auto;
		margin: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
		textarea {
			height: 100px;
		}
	#newnote {
		width: 100%;
		left: 0;
		margin-left: 0;
		padding: 0;
		top: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 0 0 #000;
		box-shadow: 0 0 0 #000;
		height: 100%;
		z-index: 100;
	}
	#closenewnote {
		top: 4px;
	}
	section {
		padding-top: 10px;
	}
		section:before {
			display: none!important;
		}
		section h2, section time, section p, section div a {
			margin-left: 10px;
		}
		section ul li time, section ul li h2 {
			width: 90%;
			float: none!important;
			line-height: 20px;
		}
		section ul li a {
			opacity: 1;
		}
	header, footer {
		position: relative;
	}
}