* { padding: 0; margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    background-color: #fdeeae;
    font-family: 'Helvetica', sans-serif;
}

a {
	color: inherit;
	text-decoration: underline;
}

.new-note, .alert {
	position: absolute;
	top: -1000px;
	width: 100%;
	padding: 10px 40px 10px 40px;
	background: #333333;
	height: 400px;
	-webkit-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.8);
	z-index: 1001;
	border-bottom: #AAABAB 4px solid;
}
	.alert {
		height: 56px;
		line-height: 56px;
		color: white;
		text-align: center;
		font-weight: bold;
		padding: 0;
	}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

header {
    color: white;
    width: 100%;
    background-image: url("images/broken_noise.png");
	background-color: #1D1D1D;
	-webkit-box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow:  0px 0px 1px 2px rgba(0, 0, 0, 0.4);
    display: block;
    clear: both;
	height: 70px;
	line-height: 70px;
	padding: 0 40px 0 40px;
	position: relative;
}
	header h1 {
		font-family: 'Helvetica', sans-serif;
		font-style: italic;
		cursor: pointer;
		color: #e44d26;
		text-shadow: 0 -1px 1px #000;
	}
		header h1 span {
			color: #05bc27;
		}
		header h1:after {
			content: "Home";
			font-size: 14px;
			margin-left: 14px;
			opacity: 0;
			-webkit-transition: all 200ms ease-in-out;
			-moz-transition: all 200ms ease-in-out;
			-ms-transition: all 200ms ease-in-out;
			-o-transition: all 200ms ease-in-out;
			transition: all 200ms ease-in-out;
		}
			header h1:hover:after {
				opacity: 1;
			}
	.add-note {
		background-color: rgba(255, 255, 255, 0.4);
		display: inline-block;
		height: 100%;
		line-height: 70px;
		width: 100px;
		text-decoration: none;
		font-size: 20px;
		color: black;
		text-align: center;
		position: absolute;
		top: 0;
		right: 40px;
		text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
		.add-note:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}
.notes-section {
    width: 100%;
    display: block;
	margin: 10px 0 60px 0;
}
	/*create the red bar at the side*/
	.notes-section:before {
		content: "";
		height: 100%;
		left: 25px;
		position: fixed;
		top: 0;
		width: 5px;
		z-index: -1;
		border: #e44d26 1px solid;
		border-top: none;
		border-bottom: none;
	}
	.notes-section > ul {
		list-style: none;
	}
		.notes-section > ul > li {
			border-bottom: #c9da72 2px solid;
			padding: 10px 40px 10px 40px;
			line-height: 56px;
			position: relative;
		}
	.notes-section .note-title {
		color: #e44d26;
		font-family: 'Helvetica', sans-serif;
		display: inline-block;
		max-width: 80%;
		margin-right: 2%;
		font-size: 32px;
	}
	.notes-section time {
		color: #035A11;
		font-size: 12px;
		line-height: 14px;
		font-style: italic;
	}
	.notes-section .button {
		text-align: center;
		text-decoration: none;
	}
		.notes-section .view {
			float: right;
			opacity: 0;
		}
	.notes-section li:hover a {
		opacity: 1;
	}
		.notes-section li:hover .button:hover {
			opacity: 0.8;
		}
	.notes-section > ul > li.single-note {
		padding: 10px 40px 60px 40px;
		min-height: 300px;
	}
		.single-note ul {
			margin-left: 20px;
			margin-bottom: 10px;
			list-style: outside;
		}
	.single-note div {
		line-height: 20px;
		font-size: 16px;
		margin-bottom: 10px;
	}
		.notes-section li div h1 {
			font-size: 26px;
			margin-bottom: 10px;
		}
		.notes-section li div h2 {
			font-size: 22px;
			margin-bottom: 10px;
		}
		.notes-section li div h3 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		.notes-section li div h4 {
			font-size: 18px;
			margin-bottom: 10px;
		}
		.notes-section li div h5 {
			font-size: 17px;
			margin-bottom: 10px;
		}
		.notes-section li div h6 {
			font-size: 15px;
			margin-bottom: 10px;
		}
		.notes-section li div p {
			margin-bottom: 10px;
		}
		.single-note .button {
			height: 40px;
			line-height: 40px;
			width: 100px;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 40px;
		}
			.single-note .danger {
				right: 40px;
				left: auto;
			}

	.no-notes {
		text-align: center;
		font-size: 28px;
		color: #e44d26;
	}

input[type=text], textarea {
	outline: none;
	width: 100%;
	background: none;
	border: none;
	border-bottom: #AAABAB 4px solid;
	height: 60px;
	font-size: 18px;
	color: #AAABAB;
	font-family: "Helvetica";
	margin-bottom: 20px;
	resize: none;
}
	textarea {
		min-height: 200px;
	}
button, .button {
	color: white;
	font-size: 18px;
	width: 150px;
	height: 56px;
	display: inline-block;
	border: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
	.success {
		background-color: #035A11;
	}
	.danger {
		background-color: #590202;
	}
	.close {
		float: right;
	}
	button:hover, .button:hover {
		opacity: 0.6
	}
	.message-box button {
		width: 70px;
		height: 40px;
		font-size: 16px;
		margin: 0 10px 0 10px;
		position: relative;
	}
footer {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
	width: 100%;
	padding: 2px 40px 2px 40px;
}
	footer a {
		color: #e44d26;
	}
	footer .danger {
		position: absolute;
		bottom: 0;
		right: 40px;
		height: 30px;
		line-height: 30px;
		width:  80px;
		font-size: 14px;
	}
@media screen and (max-width: 1024px) {
	.notes-section .view {
		position: absolute;
		top: 24px;
		right: 40px;
		opacity: 1;
		float: none;
	}
}
@media screen and (max-width: 800px) {
	.notes-section time {
		display: block;
	}
}
@media screen and (max-width: 560px) {
	.new-note {
		height: 480px;
		padding: 10px 10px;
	}
	.notes-section .note-title {
		max-width: 100%;
		margin-right: 0;
	}
	.notes-section time {
		margin-bottom: 20px;
	}
	.notes-section .button, .new-note button, .single-note .button {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		display: block;
		width: 100%;
		margin-top: 10px;
		height: 40px;
		line-height: 40px;
	}
	footer {
		position: relative;
	}
		footer .button {
			width: 100%;
			position: relative;
			right: 0;
			margin-top: 4px;
		}
}
@media screen and (max-width: 400px) {
	header {
		height: 100px;
	}
	header h1 {
		line-height: 45px;
	}
	.add-note {
		position: relative;
		top: 0;
		right: 0;
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
	}
}
@media screen and (max-height: 500px {
	textarea {
		min-height: 100px;
	}
}